html, body {
  background: black;
}

.footer {
  background: black;
}

.card {
  background: #121212;
  color: #999;
}

.button {
  background: #121212 !important;
  color: #eee;
  border-color: transparent;
}
.title {
  color: #aaa;
}

.tabs.is-toggle a {
  border-color: transparent !important;
}
.tabs.is-toggle a:hover {
  background: #121212 !important;
  color: #999;
}

/* settings.html */
.media {
  color: #eee;
}
.media-right .is-white {
  color: #aaa;
}
.media + .media {
  border-color: #333;
}

/* browse */
.pagination-next, .pagination-previous, .pagination-link {
  border-color: transparent;
  background: #121212;
  color: #afafaf
}

.content {
  color: #afafaf;
}
.content h3 {
  color: #eee;
}
