{% extends "base.html" %}
{% block extra_head %}
<section class="section">
  <div class="container" style="max-width:720px;">
    <h1 class="title has-text-centered">Fast Media</h1>
    <div class="columns is-mobile is-variable is-2">
      <a class="column" href="/tiktok">
        <div class="notification is-link">
          <span>TikTok</span>
        </div>
      </a>
      <a class="column" href="/browse">
        <div class="notification is-primary">
          <span>Browse</span>
        </div>
      </a>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://chanmo.me" target="_blank">Blog</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://github.com/ChanMo/fast-media/" target="_blank">Github</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="?theme={% if theme == 'dark' %}light{% else %}dark{% endif %}">Toggle Theme</a>
    </p>
  </div>
</footer>
{% endblock %}
